@import "tailwindcss";

@layer base {
  html {
    font-family: "Times New Roman", Times, serif !important;
  }
  body {
    font-family: "Times New Roman", Times, serif !important;
  }
}@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

